<at-assets-content-layout [title]="'Team Category List'">

	<ng-template #headerRightContents>
		<at-assets-button-icon 
			[title]="'Add Team Category'" 
			[icon]="'add'" 
			[color]="'accent'"
			(onClick)="onAddItem()">
		</at-assets-button-icon>
		<at-assets-menus [menuItems]="moreActions"></at-assets-menus>
	</ng-template>

	<at-assets-grid
		[hasPagination]="true"
		[displayedColumns]="displayedColumns"
		[gridDataSource]="gridDataSource"
		[gridState]="gridState" 
		[defaultGridState]="defaultGridState"
		[sortItems]="sortItems"
		[filterItems]="filterItems"
		(onSelection)="onSelection($event)" 
		(onDoubleClick)="onDoubleClick($event)"
		(onGridStateChange)="onGridStateChange($event)"
	>

		<at-assets-loader *ngIf="isContentLoading"></at-assets-loader>

		<ng-container matColumnDef="Name">
			<th mat-header-cell *matHeaderCellDef> Name </th>
			<td mat-cell *matCellDef="let row"> {{ row.Name }} </td>
		</ng-container>

		<ng-container matColumnDef="ShortDescription">
			<th mat-header-cell *matHeaderCellDef> Short Description </th>
			<td mat-cell *matCellDef="let row"> {{ row.ShortDescription }} </td>
		</ng-container>

		<ng-container matColumnDef="IsPublished">
			<th mat-header-cell *matHeaderCellDef> Publish Status </th>
			<td mat-cell *matCellDef="let row"> {{row.IsPublished ? "Yes" : "No"}} </td>
		</ng-container>

	</at-assets-grid>

</at-assets-content-layout>