<form autocomplete="off" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && resetPassword()">
  <div class="login-form-container">
    <div class="image-avatar">
      <img src="./../../../../assets/images/login_avatar.svg">
    </div>
    <span class="welcome">RESET PASSWORD</span>
    <div class="input-field">
      <at-assets-icon-mat icon='person'></at-assets-icon-mat>
      <input 
        id="username" 
        #username="ngModel" 
        name="username" 
        [(ngModel)]="resetPasswordModel.Username" 
        type="text"
        required="required" 
        minlength="6" 
        maxlength="50" 
        autocomplete="off" 
        autofocus="off" 
        placeholder="Username" />
    </div>
    <div class="input-field">
      <at-assets-icon-mat icon='email'></at-assets-icon-mat>
      <input 
        id="password" 
        #email="ngModel" 
        name="email" 
        [(ngModel)]="resetPasswordModel.Email"
        required="required" 
        email
        autocomplete="off" 
        autofocus="off" 
        placeholder="Email" />
    </div>
    <span class="forgot-password">
      <a [routerLink]="['/auth/login']">Login</a>
    </span>
    <div class="error">
      <ng-container *ngIf="loginForm.submitted || (username.touched && username.invalid)">
        <p class="error-item" *ngIf="username.errors?.required">Username is Required.</p>
        <p class="error-item" *ngIf="username.errors?.minlength">Username must be at least 6 characters long.
        </p>
      </ng-container>
      <ng-container *ngIf="loginForm.submitted || (email.touched && email.invalid)">
        <p class="error-item" *ngIf="email.errors?.required">Email is Required.</p>
        <p class="error-item" *ngIf="email.errors?.email">Email is not Valid.</p>
      </ng-container>
      <ng-container *ngIf="hasError">
        <p class="error-item" *ngFor="let item of validationMessages">{{item}}</p>
      </ng-container>
      <ng-container *ngIf="showSuccessMessage">
        <p class="success-item">
          Password was successfully reset. Check your email and verify it.
        </p>
      </ng-container>
    </div>
    <button class="login-button" [disabled]="isSubmitting"> {{ isSubmitting ? "RESET Processing" :"RESET" }}</button>
  </div>