<at-assets-add-edit-dialog
    [title]="'Register User'"
>
    <at-assets-loader *ngIf="showLoader"></at-assets-loader>
    <at-assets-form
        #atForm
        [isValid]="isValid()"
        [subscription]="processForm()"
        (onProcess)="processProcessing($event)"
        (onSubmission)="processSubmission($event)"
        (onSuccess)="processSuccess($event)"
        (onFailure)="processFailure($event)"
        (onCancel)="processCancel($event)"
    >
        <div class="form-group">
            <at-assets-input-text
                #FirstName
                label="First Name"
                name="FirstName"
                [(ngModel)]="activeModel.FirstName"
                [required]="true"
                [maxLength]="50"
            >
            </at-assets-input-text>
            <at-assets-input-error *ngIf="atForm.form.submitted && FirstName.model.invalid &&  FirstName.model.errors.required">
                First Name is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-text
                label="Middle Name"
                name="MiddleName"
                [(ngModel)]="activeModel.MiddleName"
                [maxLength]="50"
            >
            </at-assets-input-text>
        </div>
        <div class="form-group">
            <at-assets-input-text
                #LastName
                label="Last Name"
                name="LastName"
                [(ngModel)]="activeModel.LastName"
                [required]="true"
                [maxLength]="50"
            >
            </at-assets-input-text>
            <at-assets-input-error *ngIf="atForm.form.submitted && LastName.model.invalid &&  LastName.model.errors.required">
                Last Name is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-text
                #Email
                label="Email"
                name="Email"
                [email]="true"
                [(ngModel)]="activeModel.Email"
                [required]="true"
                [maxLength]="200"
            >
            </at-assets-input-text>
            <at-assets-input-error *ngIf="atForm.form.submitted && Email.model.invalid &&  Email.model.errors?.required">
                Email is required.
            </at-assets-input-error>
            <at-assets-input-error *ngIf="atForm.form.submitted && Email.model.invalid &&  Email.model.errors?.email">
                Email is not valid.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-datepicker
                #DOB
                label="Date Of Birth"
                name="DOB"
                [(atDateModel)]="activeModel.DOB"
                [required]="true"
            >
            </at-assets-input-datepicker>
            <at-assets-input-error *ngIf="atForm.form.submitted && !DOB.isValid && !DOB.isDateSelected">
                Date Of Birth is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-select
                #Gender
                label="Gender"
                name="GenderId"
                [(ngModel)]="activeModel.GenderId"
                [required]="true"
                [data]="Genders"
                [textField]="'DisplayName'"
                [valueField]="'Id'"
            >
            </at-assets-input-select>
            <at-assets-input-error *ngIf="atForm.form.submitted && Gender.model.invalid &&  Gender.model.errors.required">
                Gender is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-text
                #PhoneNumber
                label="Phone Number"
                name="PhoneNumber"
                [(ngModel)]="activeModel.PhoneNumber"
                [required]="true"
                [maxLength]="200"
            >
            </at-assets-input-text>
            <at-assets-input-error *ngIf="atForm.form.submitted && PhoneNumber.model.invalid &&  PhoneNumber.model.errors.required">
                Phone Number is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-textarea
                #Address
                label="Address"
                name="Address"
                [(ngModel)]="activeModel.Address"
                [required]="true"
                [maxLength]="600"
            >
            </at-assets-input-textarea>
            <at-assets-input-error *ngIf="atForm.form.submitted && Address.model.invalid && Address.model.errors.required">
                Address is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-select
                #Role
                label="Role"
                name="UserRoleId"
                [(ngModel)]="activeModel.UserRoleId"
                [required]="true"
                [data]="UserRoles"
                [textField]="'DisplayName'"
                [valueField]="'Id'"
            >
            </at-assets-input-select>
            <at-assets-input-error *ngIf="atForm.form.submitted && Role.model.invalid &&  Role.model.errors.required">
                Role is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-text
                #Username
                label="Username"
                name="Username"
                [(ngModel)]="activeModel.Username"
                [required]="true"
                [maxLength]="50"
            >
            </at-assets-input-text>
            <at-assets-input-error *ngIf="atForm.form.submitted && Username.model.invalid &&  Username.model.errors.required">
                Username is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-checkbox
                #IsActive
                label="Active Status"
                name="IsActive"
                [(ngModel)]="activeModel.IsActive"
            >
            </at-assets-input-checkbox>
        </div>
        <div class="form-group">
            <at-assets-input-file
                #file
                label="Image"
                name="Image"
                [(atFileModel)]="activeModel.ImageFile"
                [accept]="'image/*'"
                [required]="true"
            >
            </at-assets-input-file>
            <at-assets-input-error *ngIf="atForm.form.submitted && !file.hasFile">
                Image is required.
            </at-assets-input-error>
        </div>
    </at-assets-form>
</at-assets-add-edit-dialog>
