<at-assets-add-edit-dialog
    [title]="isAdd ? 'Add Team Category' : 'Edit Team Category'"
>
    <at-assets-loader *ngIf="showLoader"></at-assets-loader>
    <at-assets-form
        #atForm
        [isValid]="isValid()"
        [subscription]="processForm()"
        (onProcess)="processProcessing($event)"
        (onSubmission)="processSubmission($event)"
        (onSuccess)="processSuccess($event)"
        (onFailure)="processFailure($event)"
        (onCancel)="processCancel($event)"
    >
        <div class="form-group">
            <at-assets-input-text
                #Name
                label="Name"
                name="Name"
                [(ngModel)]="activeModel.Name"
                [required]="true"
                [maxLength]="200"
            >
            </at-assets-input-text>
            <at-assets-input-error *ngIf="atForm.form.submitted && Name.model.invalid &&  Name.model.errors.required">
                Name is required.
            </at-assets-input-error>
        </div>
        <div class="form-group">
            <at-assets-input-checkbox
                #IsPublished
                label="Published Status"
                name="IsPublished"
                [(ngModel)]="activeModel.IsPublished"
            >
            </at-assets-input-checkbox>
        </div>
        <div class="form-group">
            <at-assets-input-textarea
                #ShortDescription
                label="Short Description"
                name="ShortDescription"
                [(ngModel)]="activeModel.ShortDescription"
                [maxLength]="600"
            >
            </at-assets-input-textarea>
        </div>
    </at-assets-form>
</at-assets-add-edit-dialog>
