<at-assets-main-layout [title]="'Teams'">
    <at-assets-view-list-item [name]="'Category'" [route]="'/teams/category'"></at-assets-view-list-item>
    <at-assets-view-list-item [name]="'Category Orientation'" [route]="'/teams/category/orientation'"></at-assets-view-list-item>
    <at-assets-view-list-item [name]="'Member'" [route]="'/teams/member'"></at-assets-view-list-item>
    <at-assets-view-list-item [name]="'Member Orientation'" [route]="'/teams/member/orientation'"></at-assets-view-list-item>
    <router-outlet></router-outlet>
</at-assets-main-layout>
